:root {
  --color-blue: #4F48ED;
  --color-bg: #F5F6FA;
  --color-white: #FFFFFF;
  --color-dark: #110F36;
  --color-gray: #9e9eae;
  --color-light-gray: #EFEFEF;
  --color-label: #B2B2B2;
  --color-silver: #EAEAEA;
  --color-yellow: #FFBE1A;
  --color-green: #66B436;
  --color-red: #F95317;
  --color-overlay: rgba(17, 15, 54, 0.4);
  --color-notification: rgba(17, 15, 54, 0.6);
  --font-family: "Onest", sans-serif;
}

html {
  scrollbar-gutter: stable;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  color: var(--color-dark);
}


